:root {

 --bodyBg: #091227;
   --boxbg: #141d36;
--headingColor: #bcdbfe;
   --boxlightbg: #2a3554;
   --AIinputBg: #a4bcd9;
   --headerBg: #17264b;
        --fontColor: #9ab9dc;
  --textlighter: #7f8aab;
  --bdrColor: #555f7d75;
      --mainBlue: #0086dc;
    --mainGreen: #2de735;
    --mainRed: #f14035;
    --mainOrange: #f60;
    --mainGray: #dcdcdc;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
body{
	font-family:Open Sans;
}
a, a:hover{
	text-decoration: none;	
}
.Content_Pulisher{
	width: 100%;
    height: 100%;
    background-color: var(--bodyBg);
    overflow: hidden;
}
.top-wrap{
	width:100%;
	padding-left:15px;
	padding-right:15px;
	height:60px;
	background:var(--boxbg);
	line-height:60px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
}
.inner-wrapper{
	width:90%;
	margin: auto;
}
.side-left{
	float: left;
}
.side-right{
	float: right;
	text-align: right;
}
.side-left, .side-right{
	width:calc(50% - 15px);
	color: var(--fontColor);
	text-transform: uppercase;
	font-size:18px;
}


.clearfix{
	clear: both;
}
.clearfix::before, .clearfix::after{
	content: "";
	display:table;
}
.toggle-icon input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-icon label {
	cursor: pointer;
	width:50px;
	height:26px;
	border: 1px solid var(--mainBlue);
	border-radius: 100px;
	position: relative;
	color: transparent;
	zoom: 0.8;
}

.toggle-icon label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: var(--mainBlue);
    border-radius: 90px;
    transition: 0.3s;
}

.toggle-icon input:checked + label {
	border: 1px solid var(--mainBlue);
	background:#fff;
}

.toggle-icon input:checked + label:after {
	left: calc(100% - 4px);
	transform: translateX(-100%);
}

.toggle-icon label:active:after {
	width:48px;
}

.form-continar{
	width:100%;
	max-width:680px;
	margin:20px auto;
	padding:0px 15px;
	text-align: center;
}
::-webkit-input-placeholder { /* Edge */
  color:#7f8c8d;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7f8c8d;
}

::placeholder {
  color:#7f8c8d;
}

.form-group{
	position: relative;
}
.icons-holder{
	position: absolute;
	top:5px;
	right:5px;
	display: none;
}

.input-control{
	width:100%;
	min-width:400px;
	max-width:680px;
	font-size:16px;
	padding:12px;
	font-family:Open Sans;
	margin-bottom:12px;
	outline:0;
	min-height: 40px;
	border: 1px solid var(--bdrColor);
	color: var(--fontColor);
	border-radius:6px;
	background-color: #0f172a;
}

.input-control:focus{
	border-color:#b1b1b1;
}
input:disabled{
	cursor:default;
	disabled: true;
	background-color: transparent;
	    color: var(--bdrColor);
    border: 1px solid var(--bdrColor);
}

.form-continar textarea {
    resize: none;
}
textarea.input-control{
	height:110px;
}
select.input-control:invalid {
   color:#7f8c8d;
}

.note{
	color: var(--mainRed);
	text-align: left;
	margin-left:12px;
	font-size:12px;
	margin-top:-5px;
}
.contentEditor, .fileuploader-wrapper{
	margin:auto;
	margin-top:40px;
	max-width:920px;
	width:95%;
}
.editor-heading{
	font-size:24px;
	font-weight:600;
	color: var(--headingColor);
	text-align: center;
}
.editor-subheading{
	font-size:14px;
	text-align: center;
	width:100%;
	margin:10px auto;
	color:var(--textlighter);
}
.actionBottomBtns{
	margin:30px auto;
	text-align: center;
	margin-top:80px;
	margin-bottom:50px;
	border-top:1px solid var(--bdrColor);
	padding-top:50px;
}

.actionBottomBtns .CommonBlueBtn {
			margin-right:15px;
		}

@media(max-width:768px){
		.actionBottomBtns .CommonBlueBtn {
			margin-bottom:15px;
		}
}

.CommonBlueBtn {
    font-size: 18px;
    color: #fff;
    background-color: var(--mainBlue);
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    border-radius:50px;
    min-width:140px;
    text-transform: capitalize;
  
}
.CommonBlueBtn:focus{
	outline: 0;
}
.CommonBlueBtn:hover, not(input:disabled){
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
}
.fileuploader{
	border:1px dashed rgba(237, 240, 246, 0.349);
	padding:25px;
	border-radius:5px;
	text-align: center;
	margin-top:20px;
	color: var(--fontColor);
}
.btn-fileUploader{
	background-color: var(--mainBlue);
	padding: 8px 40px;
	margin-top:30px;
}


.img-fileUploader{
	display: block;
	margin: auto;
	width: 90px;
	margin-bottom:10px;
}
.hide{
	display: none;
}
.txt-fileupload{
	font-size: 13px;
	text-align: center;
	opacity:0.8;
}
.txt-fileupload span{
   color: var(--mainBlue);
}
.btn-publish{
	    background-color: var(--mainGreen);;
}
.btn-cancel{
    background-color: transparent;
    color: var(--mainBlue);
    border:1px solid var(--mainBlue);
}

#uploadlists:empty{display: none;}
#uploadlists{
	margin-top:10px;
	margin-left:20px;
	color: var(--fontColor);
}
